[Desktop Entry]
Version=1.0
Type=Application
Name=Windows
Comment=Restarts the computer into Microsoft Windows
Icon=application-vnd.microsoft.portable-executable
Exec=bash -c 'echo "PASSWORD_HERE" | sudo grub2-reboot "$(grep -i 'windows' /boot/grub/grub.cfg|cut -d"'" -f2)" && echo "PASSWORD_HERE" | sudo -S reboot'
Terminal=true
Actions=
Categories=Emulator;System-Tools;
